:root {
  --primary: #008800;
  --bg: #f8f9fa;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: var(--bg);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#main-wrapper {
  width: 100%;
  max-width: 450px;
  height: 90vh;
  background: white;
  border-radius: 24px;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

#welcome-screen {
  position: absolute;
  inset: 0;
  background: white;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: transform 0.6s ease-in-out;
}

.logo-main {
  width: 100px;
  margin-bottom: 20px;
}

.btn-call {
  background: var(--primary);
  color: white;
  border: none;
  padding: 18px 35px;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
}

header {
  background: var(--primary);
  color: white;
  padding: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-info {
  display: flex;
  align-items: center;
  gap: 12px;
}
header img {
  width: 32px;
  filter: brightness(0) invert(1);
}

.status {
  font-size: 0.75rem;
}
.status.online {
  color: #00ff00;
  font-weight: bold;
}
.status.connecting {
  color: #ffbb00;
}

.btn-finish {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  color: white;
  padding: 6px 12px;
  border-radius: 10px;
  cursor: pointer;
}

#messages {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background: #fafafa;
}

.msg {
  max-width: 80%;
  padding: 12px 16px;
  border-radius: 18px;
  font-size: 14px;
  animation: fadeIn 0.3s ease;
}

.user {
  align-self: flex-end;
  background: var(--primary);
  color: white;
}
.bot {
  align-self: flex-start;
  background: #eee;
  color: #333;
}

#input-area {
  padding: 15px;
  background: white;
  border-top: 1px solid #eee;
  display: flex;
  gap: 10px;
}

#input-area.disabled {
  opacity: 0.5;
  pointer-events: none; /* Bloquea clics */
}

input {
  flex: 1;
  border: 1px solid #ddd;
  padding: 12px 20px;
  border-radius: 25px;
  outline: none;
}

#btn-send {
  background: var(--primary);
  color: white;
  border: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
  }
}
.hidden {
  transform: translateY(-100%);
}
